<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>WebFactory</title>
</head>
<body>
{% if custom_user %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Добро пожаловать, {{ custom_user.user.username }}!</h1>
            <p class="lead">Должность: {{ custom_user.position }}</p>
            <p class="lead">Рабочая зона: {{ custom_user.working_area }}</p>
            <p class="lead">Роль: {{ custom_user.role }}</p>
        </div>
{% else %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Выполните вход с систему</h1>
        </div>
{% endif %}
        <div class="col-md-4">
            <div class="sticky-top">
                <h1 class="display-6">Информация</h1>
                <p class="lead" id="current-time">Текущее время: Loading...</p>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        function updateCurrentTime() {
            const currentTimeElement = document.getElementById('current-time');
            const now = new Date();
            currentTimeElement.textContent = `Текущее время: ${now.toLocaleString()}`;
        }

        setInterval(updateCurrentTime, 1000); // Обновлять каждую секунду
        updateCurrentTime(); // Запустить функцию сразу при загрузке страницы
    </script>
</div>
</body>
</html>
