<!-- Модальное окно для отчета о проблеме -->
<div class="modal fade" id="bugReportModal" tabindex="-1"
     aria-labelledby="bugReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bugReportModalLabel">Сообщить о
                    проблеме</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="reportForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="bugDescription" class="form-label">Описание
                            проблемы</label>
                        <textarea class="form-control" id="bugDescription"
                                  name="bug_description" rows="4"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100"
                            id="justReportButton">Сообщить о проблеме
                    </button>
                    <br><br>
                    <button type="submit" class="btn btn-danger w-100"
                            id="stopWorkButton">Сообщить о проблеме и
                        приостановить работу
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для успешной отправки -->
<div class="modal fade" id="successModal" tabindex="-1"
     aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно
                    отправлено</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Ваш отчет был успешно отправлен.
            </div>
        </div>
    </div>
</div>

<!-- Кнопка для вызова модального окна -->
<br>
<div class="container-md">
<button id="reportBtn" type="button" class="btn btn-warning w-100">Ошибка!
</button>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var errorModal = new bootstrap.Modal(document.getElementById('bugReportModal'));

        document.getElementById('reportBtn').addEventListener('click', function () {
            errorModal.show();
        });

        document.getElementById('justReportButton').addEventListener('click', function () {
            event.preventDefault();
            var formData = new FormData(document.getElementById('reportForm'));
            if (formData.get('bug_description').trim() === '') {
                alert('Введите описание проблемы');
                return;
            }
            var url = '/report/';  // URL для обработки формы на сервере
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    errorModal.hide();  // Скрыть модальное окно после успешной отправки

                    // Вывести уведомление о успешной отправке
                    var successModal = new bootstrap.Modal(document.getElementById('successModal'));
                    successModal.show();
                    setTimeout(function () {
                        successModal.hide();
                    }, 1500)
                }
            };
            xhr.send(formData);
        });

        document.getElementById('stopWorkButton').addEventListener('click', function () {
            event.preventDefault();
            var formData = new FormData(document.getElementById('reportForm'));
            if (formData.get('bug_description').trim() === '') {
                alert('Введите описание проблемы');
                return;
            }
            var url = '/report/';  // URL для обработки формы на сервере
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    errorModal.hide();  // Скрыть модальное окно после успешной отправки

                    // Вывести уведомление о успешной отправке
                    var successModal = new bootstrap.Modal(document.getElementById('successModal'));
                    successModal.show();
                    setTimeout(function () {
                        successModal.hide();
                    }, 1500)
                }
            };
            xhr.send(formData);
        });
    });
</script>

