<hr>
<div class="modal fade" id="bugReportModal" tabindex="-1" aria-labelledby="bugReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bugReportModalLabel">Сообщить о проблеме</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="reportForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="bugDescription" class="form-label">Описание проблемы</label>
                        <textarea class="form-control" id="bugDescription" name="bug_description" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" id="stopWorkButton">Сообщить о проблеме и приостановить работу</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для успешной отправки -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успешно отправлено</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Ваш отчет был успешно отправлен.
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для оставления обращения -->
<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">Оставить обращение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="requestForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="requestDescription" class="form-label">Описание обращения</label>
                        <textarea class="form-control" id="requestDescription" name="request_description" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" id="sendRequestButton">Отправить обращение</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Кнопка для открытия модального окна "Сообщить о проблеме" -->
<br>
<div class="container-md">
    <button id="reportBtn" type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#bugReportModal">Сообщить о проблеме, блокирующей работу</button>
</div>

<!-- Кнопка для открытия модального окна "Оставить обращение" -->
<div class="container-md mt-2">
    <button id="requestBtn" type="button" class="btn btn-secondary w-100" data-bs-toggle="modal" data-bs-target="#requestModal">Оставить обращение</button>
</div>

<!-- Кнопка для перехода на страницу с отчетами о багах -->
{#<div class="container-md mt-2">#}
{#    <a href="{% url 'users_bugs' %}" class="btn btn-outline-info w-100 mt-2">Bugs Page</a>#}
{#</div>#}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var errorModal = new bootstrap.Modal(document.getElementById('bugReportModal'));
        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
        var requestModal = new bootstrap.Modal(document.getElementById('requestModal'));

        document.getElementById('reportBtn').addEventListener('click', function () {
            errorModal.show();
        });

        document.getElementById('requestBtn').addEventListener('click', function () {
            requestModal.show();
        });

        document.getElementById('stopWorkButton').addEventListener('click', function () {
            event.preventDefault();
            var formData = new FormData(document.getElementById('reportForm'));
            if (formData.get('description').trim() === '') {
                alert('Введите описание проблемы');
                return;
            }
            var url = '/report/';  // URL для обработки формы на сервере

            if (event.currentTarget.id === 'stopWorkButton') {
                url = '/report/';
            } else if (event.currentTarget.id === 'requestBtn') {
                url = '/request/';
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    errorModal.hide();  // Скрыть модальное окно после успешной отправки

                    // Вывести уведомление о успешной отправке
                    successModal.show();
                    setTimeout(function () {
                        successModal.hide();
                    }, 1500)
                }
            };
            xhr.send(formData);
            setTimeout(function () {
                window.location.href = '/bug-list/';
            }, 1000)

        });

        document.getElementById('sendRequestButton').addEventListener('click', function () {
            event.preventDefault();
            var requestFormData = new FormData(document.getElementById('requestForm'));
            if (requestFormData.get('request_description').trim() === '') {
                alert('Введите описание обращения');
                return;
            }
            var requestUrl = '/request/';  // URL для обработки формы на сервере

            var requestXhr = new XMLHttpRequest();
            requestXhr.open('POST', requestUrl, true);
            requestXhr.onreadystatechange = function () {
                if (requestXhr.readyState === 4) {
                    requestModal.hide();  // Скрыть модальное окно после успешной отправки

                    // Вывести уведомление о успешной отправке
                    successModal.show();
                    setTimeout(function () {
                        successModal.hide();
                    }, 1500)
                }
            };
            requestXhr.send(requestFormData);
        });
    });
</script>