{% extends 'base.html' %}

{% block title %}Produced Models{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Produced Models</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Worker</th>
                    <th>Work Zone</th>
                    <th>Total Parts Produced</th>
                    <th>Comments</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>For Last Hour</th>
                </tr>
                </thead>
                <tbody>
                {% for produced_model in produced_models %}
                    <tr>
                        <td>{{ produced_model.worker }}</td>
                        <td>{{ produced_model.working_zome.name }}</td>
                        <td>{{ produced_model.total_parts_produced }}</td>
                        <td>{{ produced_model.comments }}</td>
                        <td>{{ produced_model.start_time }}</td>
                        <td>{{ produced_model.end_time }}</td>
                        <td>{{ produced_model.for_last_hour }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
