{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Добро
                    пожаловать, {{ custom_user.user.username }}!</h1>
                <p class="lead">Должность: {{ custom_user.position }}</p>
                <p class="lead">Рабочая зона: {{ custom_user.working_area }}</p>
                <p class="lead">Роль: {{ custom_user.role }}</p>
                <p class="lead">Текущее время:
                    {{ current_time|date:"Y-m-d H:i:s" }}</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h1 class="display-5">Подготовка и наладка</h1>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Сейчас в работе:</h3>
                        <p class="card-text">{{ last_order.part_name }} в
                            количестве {{ last_order.num_parts }}</p>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary mt-3 w-100">Продолжить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
