{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Добро
                    пожаловать, {{ custom_user.user.username }}!</h1>
                <p class="lead">Должность: {{ custom_user.position }}</p>
                <p class="lead">Рабочая зона: {{ custom_user.working_area }}</p>
                <p class="lead">Роль: {{ custom_user.role }}</p>
                <p class="lead">Текущее время:
                    {{ current_time|date:"Y-m-d H:i:s" }}</p>
            </div>
        </div>
        {% block bug_report_modal %}{% endblock %}
        <div class="row mt-4">
            <div class="col-md-12">
                <h1 class="display-5">Обработка станком</h1>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Сейчас в работе:</h3>
                        <p class="card-text">{{ request.session.partname }} в
                            количестве {{ request.session.quantity }}</p>
                        <p class="card-text">Нажмите "Продолжить" после
                            окончания обработки детали станком</p>
                    </div>
                </div>
                <a href="{% url 'shift_ending' %}" class="btn btn-primary mt-3">Продолжить</a>
            </div>
        </div>
    </div>
{% endblock %}
