{% extends "base.html" %}

{% block content %}

    <h1 class="text-center mb-5">Название детали: {{ request.session.partname }}</h1>
    <div class="container">
        <h1 class="mt-5">Введите количество деталей:</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="custom_value" name="custom_value"
                       placeholder="Введите значение" inputmode="numeric">
            </div>

            <div class="mt-4">
                <div class="btn-group-vertical d-grid gap-2" role="group" aria-label="Кнопки">
                    <button type="button" class="btn btn-primary btn-lg" onclick="updateValue('1')">1</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="updateValue('2')">2</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="updateValue('3')">3</button>
                    <button type="button" class="btn btn-primary btn-lg" onclick="updateValue('4')">4</button>
                </div>
            </div>

            <!-- Добавляем скрытое поле для передачи значения кнопки -->
            <input type="hidden" id="button" name="button" value="">

            <div class="mt-4">
                <button id="sendBtn" type="button" class="btn btn-success w-100">Отправить</button>
            </div>
        </form>
    </div>

    <!-- Модальное окно с подтверждением -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Подтверждение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите отправить значение: <span id="selected_value_confirmation"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-success" id="confirmButton"
                            onclick="document.querySelector('form').submit();">Подтвердить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение библиотеки Bootstrap -->
    <script>
        // Функция, вызываемая при нажатии на кнопку
        function updateValue(buttonValue) {
            // Устанавливаем значение в поле input
            document.getElementById('custom_value').value = buttonValue;
        }

        // Функция, вызываемая при нажатии на кнопку "Отправить"
        document.getElementById('sendBtn').addEventListener('click', function () {
            var customValue = document.getElementById('custom_value').value;
            if (customValue === '') {
                alert('Поле не может быть пустым!');
            } else {
                {#Вариант с модалкой, второй вариант с системными#}
                {#document.getElementById('selected_value_confirmation').innerText = customValue;#}
                {##}
                {#var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));#}
                {#confirmationModal.show();#}
                if (confirm('OK??') === true) {
                    console.log('TRUE');
                    document.querySelector('form').submit();
                }
            }
        });

    </script>

{% endblock %}