{% extends "base.html" %}

{% block content %}
    <h1>Добро пожаловать, {{ custom_user }}!</h1>
    <p>Должность: {{ custom_user.position }}</p>
    <p>Рабочая зона: {{ custom_user.working_area }}</p>
    <p>Роль: {{ custom_user.role }}</p>
    <p>Текущее время: {{ current_time|date:"Y-m-d H:i:s" }}</p>


    {#    <a href="{% url 'shift_scan' %}" class="btn btn-primary">Начать новую деталь</a>#}
    <form method="post">
        {% csrf_token %}
        <button id="post-button" class="btn btn-primary ">Отправить</button>
    </form>

    <a href="{% url 'shift_main_page' %}" class="btn btn-secondary">Закончить смену</a>

{% endblock %}
