{% extends "base/base.html" %}
{% load static %}
{% block content %}
            <style>
        /* Стили для прогресс-бара */
        .progress-bar-container {
            margin-top: 20px;
        }

        .progress-bar {
            height: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .progress-bar-fill {
            height: 100%;
            border-radius: 8px;
            background-color: #28a745;
            transition: width 0.3s ease-in-out;
        }
    </style>
            <div class="progress-bar-container">
                <div class="progress-bar">
                    <div class="progress-bar-fill" style="width: 65.6%;"></div>
                </div>
            </div>
    <div class="container-md mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-5">Обработка станком
                    <img src="{% static 'images/processing_icon.png' %}" width="75" height="75" alt="Наладка">
                </h1>
                <hr>
                <div class="card mt-1">
                    <h5>После окончания обработки нажмите "Обработка станком закончена"</h5>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Сейчас в работе:</h3>
                        <table class="table">
                            <tr>
                                <td>Название детали:</td>
                                <td>{{ order.part_name }}</td>
                            </tr>
                            <tr>
                                <td>Общее количество</td>
                                <td>{{ order.num_parts }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success w-100">Обработка станком закончена</button>
                    <button type="submit" name="pause_shift" class="btn btn-outline-danger w-100 mt-2">Перейти к выбору станка
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% include "forms/bugreport_form.html" %}
{% endblock %}
