{% extends "base.html" %}

{% block content %}

    <div class="container-md">
        <div class="row mt-4">
            <div class="col-md-12">
                <h1 class="display-5">Обработка станком</h1>
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Сейчас в работе:</h3>
                        <p class="card-text">{{ order.part_name }} в
                            количестве {{ order.num_parts }}</p>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success w-100">Продолжить</button>
                    <button type="submit" name="pause_shift" class="btn btn-outline-danger w-100 mt-2">Приостановить
                        работу/перейти к другому
                        станку
                    </button>
                </form>


            </div>
        </div>
    </div>
    {% include "bugreport_form.html" %}
{% endblock %}

