{% extends 'base.html' %}

{% block content %}

{% for machine in machines %}
    <input type="radio" name="machine" value="{{ machine.id }}" {% if machine.is_broken %}disabled{% endif %}>
    {{ machine.machine_name }}
    {{ machine.machine_type }}
    {{ machine.is_broken }}
    {{ machine.is_in_progress }}
    {% if machine.is_broken %}
        СЛОМАНО
    {% endif %}
    {% if machine.is_in_progress %}
        В РАБОТЕ
    {% endif %}
    <br>
{% endfor %}

<form method="post">
    {% csrf_token %}
    <button type="submit" name="continue" {% if not machine.is_in_progress %}disabled{% endif %}>Continue working</button>
    <button type="submit" name="start_new">start new</button>
    <button type="submit" name="end_shift">stop working</button>
    <button type="submit" name="end_shift">end shift</button>
    <hr>
    <button type="submit" name="request">request</button>
    <button type="submit" name="report">report</button>
</form>

{% endblock %}